@import "bootstrap/scss/bootstrap";

// Estilo del form
.form-control.is-valid {
    border-color: #007bff;
    padding-right: calc(1.5em + 0.75rem);
    background-image: none;
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}


